*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary: #f5e506;
  --primary-dark: #dfd007;
}

body {
  font-family: "Poppins", sans-serif;
}

/** Header **/
#header {
  background-color: var(--primary);
  padding: 1.5rem 1rem;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

/** Main **/
#main {
  padding: 1.75rem 0.75rem;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0.5rem;
}

button {
  background-color: var(--primary);
  padding: 12px 18px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  text-transform: uppercase;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin: 0.5rem;
  border: none;
}

button:hover {
  background-color: var(--primary-dark);
}

#ejercico-1,
#ejercico-2,
#ejercico-3,
#ejercico-4,
#ejercico-5 {
  padding-bottom: 1rem;
}